.incident_wrapper{
    flex:1;
    padding-top:10%;
    padding-inline: 600px;
    display: flex;
    flex-direction: column;
    gap:16px;
    overflow: auto;
}

.incident_wrapper-header{
    text-align: center;
    font-size: 3.2rem;
}

.incident_fields{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.incident_field{
    background-color: #181818;
    border: 2px solid;
    border-radius: 16px;
    padding:12px;
    font-size: 1.4rem;
    color:white;
    border-color: rgb(43, 43, 43);
}

.save_button{
    padding:8px;
    color: white;
    background-color: #181818;
    font-size:1.6rem;
    border-radius: 24px;
    border: 2px solid;
    border-color: black;
    transition-duration: 0.4s;
}

.save_button:hover{
    cursor: pointer;
}

.special_character{
    color:red;
}

.error_wrapper{
    font-size: 2.2rem;
    font-weight: 600;
}

.resolved_btn{
    padding:12px;
    color: white;
    background-color: #2b2b2b;
    font-size:1.4rem;
    border-radius: 16px 0px 0px 16px;
    border: 2px solid;
    border-color: black;
    transition-duration: 0.4s;
}

.resolved_btn:hover{
    cursor:pointer;
}

.delete_btn{
    padding:12px;
    color: white;
    background-color: #2b2b2b;
    font-size:1.4rem;
    border-radius: 0px 16px 16px 0px;
    border: 2px solid;
    border-color: black;
    transition-duration: 0.4s;
}

.delete_btn:hover{
    cursor:pointer;
}