.credentials_wrapper{
    flex:1;
    overflow: hidden;
    padding-top:16%;
    padding-inline: 600px;
    display: flex;
    flex-direction: column;
    gap:32px;
}

.credentials_wrapper-header{
    font-size:2.5rem;
    text-align: center;
}

.form_wrapper{
    display: flex;
    flex-direction: column;
    gap:16px;
    font-size:1.6rem;
}

.input_login{
    background-color: #181818;
    border: 2px solid;
    border-radius: 16px;
    padding:12px;
    font-size: 1.4rem;
    color:white;
    border-color: rgb(43, 43, 43);
}

.input_password{
    background-color: #181818;
    border: 2px solid;
    border-radius: 16px;
    padding:12px;
    font-size: 1.4rem;
    color:white;
    border-color: rgb(43, 43, 43);
}

.login_button{
    padding:8px;
    color: white;
    background-color: #181818;
    font-size:1.6rem;
    border-radius: 24px;
    border: 2px solid;
    border-color: black;
    transition-duration: 0.4s;
}

.login_button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 0px white;
    transition-duration: 0.4s;
}

.input_login:focus{
    background-color: #1f1f1f;
    border: 2px solid;
    border-radius: 16px;
    padding:12px;
    font-size: 1.4rem;
    color:white;
    border-color: white;
    outline: black;
    transition-duration: 0.2s;
}

.input_password:focus{
    background-color: #1f1f1f;
    border: 2px solid;
    border-radius: 16px;
    padding:12px;
    font-size: 1.4rem;
    color:white;
    border-color: white;
    outline: black;
    transition-duration: 0.2s;
}

.special_character{
    color:red;
}